
.navbar {
  position: sticky; 
  top: 0; 
  z-index: 1000; 
  background-color: #50afaa;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease; 
}

.navbar.sticky {
  background-color: #222; 
}

.logo img {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  transition: background-color 0.3s ease;
}

.nav-links li a:hover {
  background-color: #555;
  border-radius: 4px;
}


.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: white;
}

.close-icon {
  font-size: 24px;
  color: white;
}


.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #50afaa;
  width: 100%;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav-links.mobile-menu {
    display: flex;
  }
}
